/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("bild.gif") repeat-x;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
 
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: lightblue;


}

.navbar {
  background-color: lightblue;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;


}

.container .text-muted {
  margin: 20px 0;

}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;

}

code {
  font-size: 80%;

}


p {
  color: #484848;
}

#jbff {
   color: lightblue;
   font-size: 25px;
   text-shadow: 3px 2px black;
}

.navbar a{
  color: #0099FF;
  text-indent: 15px;
}

body a {
  color: #CC9966;
}

#introText {
  font-family: inherit;
}

#myNavbar a:hover{
  background-color: #5bc0de;
}

.icon-bar {
  background-color: black;
}